{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {%- if translations.entry_hreflang(article) -%}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {%- if article.description -%}
    <!-- Open graph for social networks -->
    <meta name="og:title" property="og:title" content="{{article.description}}">
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}

    <section id="content" class="jumbotron body">
        <header>
            <h2 class="display-4">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
        </header>
        <footer class="post-info">
            <i class="fas fa-calendar-alt"></i> <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
            </time>
            {% if article.modified %}
             <time class="modified" datetime="{{ article.modified.isoformat() }}">
                <i class="fas fa-angle-double-right"></i> modified {{ article.locale_modified }}
            </time>
            {% endif %}
            {% if article.authors %}
            <address class="vcard author">
                {#      By {% for author in article.authors %}
                <a class="url fn post-info-space" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %} #}
            </address>
            {% endif %}
            {% if article.category %}
            <div class="category">
                <i class="fas fa-tag"></i> Category: <a class="emphasis post-info-space" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </div>
            {% endif %}
            {% if article.tags %}
            <div class="tags">
                <i class="fas fa-hashtag"></i> Tags:
                {% for tag in article.tags %}
                <a class="emphasis post-info-space" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </footer><!-- /.post-info -->
  <hr class="my-4">
  <div class="card">
      <div class="card-body entry-content">
          {{ article.content }}
      </div>
  </div>
        <!-- /.entry-content -->

	<hr>

	<h2 class="display-4"><i class="fas fa-comment-alt"></i> Comments</h2>
        {% include 'disqus.html' %}


    </section>
{% endblock %}
