{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title }} | {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
    <section id="content" class="jumbotron body">
        <header>
            <h2 class=".h2">
                {% for href, id, icon in MENUITEMS %}
                {% if output_file in href %} {{ icon }} {% endif %}
                {% endfor %}
           {{ page.title }}
            </h2>
    </header>

  <hr class="my-4">

  <div class="card">
      <div class="card-body entry-content">
            {{ page.content }}
      </div>
  </div>
        <!-- /.entry-content -->

	<hr>

    </section>
{% endblock %}
