{% if DEFAULT_PAGINATION %}
<div class="paginator">
    {% if articles_page.has_previous() %}
        <a class="btn btn-info mb-4" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
    {% endif %}
    <div class="btn btn-outline-info mb-4">Page <strong>{{ articles_page.number }}</strong> / {{ articles_paginator.num_pages }}</div>
    {% if articles_page.has_next() %}
        <a class="btn btn-info mb-4" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
