{% extends "base.html" %}
{% set active_page = "tags" %}

{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block content %}

    <section id="content" class="jumbotron body">
        <header>
            <h2 class="display-4 uppercase-title"><i class="fas fa-hashtag"></i> Tags</h2>
        </header>
  <hr class="my-4">
  <div class="card">
      <main class="card-body entry-content">
<ul id="post-list">

    {% for tag, articles in tags|sort %}
        <li><a class="post-info-space" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}

{% if articles|count == 0 %}
<li style="padding-top:20px">Nothing yet.</li>
{% endif %}
    </ul>

<!-- Tag Cloud plugin -->
<ul class="tagcloud">
    {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }}">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge badge-primary">{{ tag.2 }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
<!-- /. Tag Cloud plugin -->

      </main>
  </div>
        <!-- /.entry-content -->
    </section>

{% endblock %}
