{% extends "base.html" %}
{% set active_page = "tree" %}

{% block title %}About {{ ABOUT_VERSION }}: website structure | {{ SITENAME }}{% endblock %}

{% block content %}

    <section id="content" class="jumbotron body">
        <header>
            <h2 class="display-4 uppercase-title"><i class="fas fa-info"></i> About {{ ABOUT_VERSION }}: website structure</h2>
        </header>
  <hr class="my-4">
  <div class="card">
      <main class="card-body entry-content">

          {% include 'tree_content.html' %}

      </main>
  </div>
        <!-- /.entry-content -->
    </section>

{% endblock %}


